body {
    margin: 0;
    }
    .jumbotron{ text-align: center;
    padding: 0;
}
    .tab-content{ text-align: center;}
    
    .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    }
    
    h1{text-align: center;}
button{ color: gold;}
 
section{ background-color: gray;
    color: aliceblue;}